/* [Font] Source Sans Pro (400-700) */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    display: flex;
    height: 100vh;
    color: #D8CEDE;
    background-image: linear-gradient(135deg, #030422 0%, #090114 100%);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
}

.wrapper {
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
    margin: auto;
}

.card {
    width: 34.8rem;
    height: 48.64rem;
    border-radius: 1.6rem;
}

.card:first-child,
.card:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:first-child {
    background-image: linear-gradient(rgba(0, 1, 14, .5), rgba(0, 1, 14, .5)), repeating-linear-gradient(135deg, rgba(14, 23, 101, .85) 0%, rgba(42, 17, 92, .85) 100%), url("../img/bg-card-left.png");
}

.card:last-child {
    background-image: linear-gradient(rgba(0, 1, 14, .5), rgba(0, 1, 14, .5)), repeating-linear-gradient(135deg, rgba(14, 23, 101, .85) 0%, rgba(42, 17, 92, .85) 100%), url("../img/bg-card-right.png");
}

.card:first-child .nome-personagem,
.card:last-child .nome-personagem {
    color: transparent;
    -webkit-text-stroke: .1rem #312D74;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: .256rem;
    opacity: 90%;
}

.card-principal {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 43.6rem;
    height: 60.8rem;
    padding: 4.8rem 4rem;
    border-radius: 2rem;
    background-image: url("../img/bg-card-main.png");
}

.card-principal .title,
.card-principal .info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.4rem;
}

.card-principal .title {
    max-width: calc(26.3rem + 3.072rem)/* 3.072rem: efeito colateral do letter-spacing */;
}

.card-principal .nome-personagem p {
    color: #ECE4EF;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: .256rem;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, .4);
}

.card-principal .desc-personagem {
    max-width: 26.3rem;
}

.card-principal .desc-personagem p {
    color: #D8CEDE;
    line-height: 1.76rem;
}

.card-principal .info {
    max-width: 19.8rem;
}

.card-principal .detail {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.card-principal .key {
    color: #9C83A7;
    line-height: 1.76rem;
}

.card-principal .value {
    color: #D8CEDE;
    font-weight: 700;
    line-height: 1.82rem;
}

.inactive {
    display: none;
}