@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10rem */
}

body {
    /* background-color: #a29bfe; */
    background-image: linear-gradient(90deg, #FFB0D1 0%, #cbfecd 100%);
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 2.6rem;
    text-align: center;
}

button, input {
    width: 5rem;
    height: 5rem;
    font-family: 'Audiowide', cursive;
    font-size: 2.6rem;
    border-radius: 1rem;
    border: none;
    box-shadow: .2rem .2rem .2rem black;
}

button:hover, input:hover {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.calculadora {
    max-width: 30rem;
    margin: 10% auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    background-color: #333439;
    border-radius: 2.5rem;
    box-shadow: 0 0 2.5rem black;
}

.marca {
    font-family: 'Comfortaa', cursive;
    font-size: 50%;
    letter-spacing: .8rem;
    color: #b2bec3;
}

.visor {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 4rem;
    font-family: 'Wallpoet', cursive;
    font-size: 2.8rem;
    font-style: italic;
    max-width: 25rem;
    margin: 1rem auto 2.5rem auto;
    padding: .5rem;
    text-align: right;
    color: black;
    background-color: #ffeaa7;
    box-shadow: inset 0 0 .8rem black;
    /* overflow-x: hidden; */
}

.visor span {
    opacity: 35%;
}

.corpo {
    /* border: 1rem solid red; */

    max-width: 23.5rem;
    max-height: max-content;
    margin: 0 auto;
}

.numeros {
    /* border: 1rem solid green; */
    
    width: 16.7rem;
}

.operacoes {
    /* border: 1rem solid yellow; */
    
    max-width: min-content;
}

.numeros input, .numeros button, .operacoes button {
    margin-bottom: 1rem;
}

.numeros input, .numeros button {
    color: white;
    background-color: #585d5f; /*#636e72*/
}

.operacoes button {
    color: black;
    background-color: #b2bec3;
}

.CE-equal {
    /* border: 1rem solid lightblue; */

    display: flex;
    justify-content: space-between;
    max-width: 23.5rem;
    margin: 1rem auto 0 auto;
}

.CE-equal button:first-child {
    width: 16.7rem;
    background-color: #e74c3c;
}

.CE-equal button:last-child {
    background-color: white;
}