/* [Font] Roboto (400-700) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    font-size: 62.5%; /* 1rem = 10px */
}

/* ===== GLOBAL =============== */
body {
    height: 100vh;
    overflow: hidden;
    color: #E1E1E6;
    background-color: #1A1924;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

body * {
    /* border: 1px solid red; */
}

input, button {
    border: 0;
    background-color: transparent;
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    width: 100vw;
    height: 100vh;
    max-width: 88rem;
    margin: auto;
    padding: 2.4rem 3.2rem;
}

/* ===== TOP =============== */
#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user-info {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

#user-info img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    object-fit: cover;
}

#user-status .status::before {
    content: "";
    width: .8rem;
    height: .8rem;
    display: block;
    background-color: #00B37E;
    border-radius: 50%;
}

#user-status strong, .message.you strong {
    font-weight: 700;
}

#user-status .status {
    display: flex;
    align-items: baseline;
    gap: .4rem;
    margin-top: .4rem;
    color: #00B37E;
    font-size: 1.2rem;
}

/* ===== MESSAGES =============== */
#last-seen {
    margin-top: 2.6rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

#messages {
    padding-bottom: 2.4rem;
    overflow-y: scroll;
}

#messages::-webkit-scrollbar {
    display: none;
}

.messages {
    display: grid;
    gap: 3rem;
    margin-top: 3rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.message .body {
    width: fit-content;
    margin-top: 1rem;
    padding: 1.4rem;
    border-radius: 0 .8rem .8rem .8rem;
    background-color: #633BBC;
}

.message:not(.you) {
    width: 60vw;
}

.message.you {
    margin-left: auto;
}

.message.you .top {
    text-align: right;
}

.message.you .body {
    background-color: #07847E;
    border-radius: .8rem .8rem 0 .8rem;
}

/* ===== BOTTOM =============== */
form {
    display: flex;
    align-items: center;
    padding: 1.4rem 2.4rem;
    border-radius: 999rem;
    background-color: #282843;
}

input {
    flex: 1;
    color: #E1E1E6;
    outline: none;
}

form:focus-within {
    outline: .2rem solid white;
}

input::placeholder {
    color: #E1E1E6;
    font-size: 1.2rem;
    line-height: 1.4rem;
}