/* STEP STATUS */
/* Step done */
.steps .step-1 span, 
.steps .step-2 span,
.steps .step-3 span {
    background-color: var(--success-color);
}
/*  */

.app.done {
    height: 39.2rem;
    justify-content: space-between;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-200);
    font-weight: 700;
    text-transform: uppercase;
}

.done .buttons a {
    width: fit-content;
    text-transform: none;
}