/* STEP STATUS */
/* Step done */
.steps .step-1 span {
    background-color: var(--success-color);
}
/* Step disabled */
.steps .step-3 span {
    color: var(--gray-200);
    background-color: var(--gray-100);
}

.steps .step-3 p {
    color: var(--gray-200);
}
/*  */

.buttons {
    justify-content: space-between;
}