:root {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-size: 1.6rem;
    display: flex;
    height: 100vh;
}

.app {
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 34.4rem;
    margin: auto;
    padding: 3.2rem;
}

.ano {
    border: 1px solid green;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meses {
    border: 1px solid green;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.meses ul {
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
}

.meses li {
    border: 1px solid yellow;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.2rem;
    height: 4rem;
}